.footer {
    background-color: rgb(12, 53, 106);
    color: #dce8f2;
  }
  
  .footer a {
    color: #6c757d;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #ffffff;
  }
  
  .footer-icon {
    font-size: 1.5rem;
  }
  