/* Header.css */

.navbar {
  margin-bottom: 20px;
  background-color: rgba(235, 227, 227, 0); /* Fondo transparente */
  z-index: 1100; /* Asegurarse de que esté por encima del banner */
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2em;
  color: rgb(12, 53, 106); /* Letras azules */
}

.nav-link {
  color: rgb(12, 53, 106); /* Letras azules */
  font-size: 1.2em;
  margin-right: 10px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.btn-upload-photo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  background-color: blue; /* Fondo azul */
  color: white; /* Letras blancas */
  margin-left: 10px;
}

.user-icon-btn {
  background: none;
  border: 2px solid rgb(12, 53, 106); /* Borde azul */
  border-radius: 50%; /* Bordes redondeados */
  color: rgb(12, 53, 106); /* Letras azules */
  font-size: 1.5em;
  margin-left: 10px;
  position: relative;
  width: 40px; /* Ancho fijo */
  height: 40px; /* Alto fijo */
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon-btn .dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  display: none;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1200;
}

.user-icon-btn .dropdown-menu.show {
  display: block;
}

.user-icon-btn .dropdown-menu a {
  color: rgb(12, 53, 106);
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.user-icon-btn .dropdown-menu a:hover {
  background-color: rgba(12, 53, 106, 0.1);
}

.navbar-toggler {
  border: none;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-collapse {
  display: flex; /* Muestra el menú en vistas de escritorio */
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    display: none; /* Oculta el menú por defecto en dispositivos móviles */
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-collapse.show {
    display: flex; /* Muestra el menú cuando el botón de colapso está activo */
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .nav-link {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .nav-link:last-child {
    margin-bottom: 0;
  }

  .navbar-toggler {
    margin-right: 0;
  }
}
