body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  }
  
  .login-container {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    margin-bottom: 2rem; /* Más espacio debajo del encabezado */
    font-weight: 700;
    text-align: center; /* Centrar el encabezado */
  }
  
  .form-group label {
    font-weight: 600;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: rgb(39, 158, 255);
    border: none;
    font-weight: 600;
    width: 100%; /* Asegurarse de que el botón sea del ancho completo */
    margin: 10px 0; /* Añadir margen para separar los botones */
  }
  
  .btn-info {
    width: 100%; /* Asegurarse de que el botón sea del ancho completo */
    margin: 10px 0; /* Añadir margen para separar los botones */
  }
  
  .btn-link {
    color: rgb(64, 248, 255);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; /* Permitir el uso de margen */
    width: 100%; /* Asegurarse de que el botón sea del ancho completo */
    margin: 10px 0; /* Añadir margen para separar los botones */
    text-align: center; /* Centrar el texto dentro del botón */
  }
  
  .btn-link:hover {
    text-decoration: underline;
  }
  
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .img-container img {
    max-width: 100%;
    border-radius: 10px;
  }
  